{% extends widget.get_base_template %}

{% block content %}
{% block items %}
{% for row in widget.get_rows %}
<div class="row grid">
    {% for item in row %}
    <div class="col-md-{{ widget.columns_classes.0 }} col-xs-{{ widget.columns_classes.2 }} col-sm-{{ widget.columns_classes.1 }}">
        <figure class="effect-lily" onclick="location.href = '{{ item.web_address }}';">
            <img src="{{ item.image.url }}" alt="" />
            <figcaption>
                <div>
                    <h2><span>{{ item.translation.name }}</span></br> {{ item.translation.description }}</h2>
                </div>
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
{% endblock %}