{% extends widget.get_base_template %}

{% load thumbnail %}

{% block content %}
<div class="row">
  {% for link in widget.list.link_set.all %}
  <div class="col-md-4 col-sm-6 {% if forloop.counter0|divisibleby:"4" %}no-margin{% endif %} thumb">
	  <a href="{{ link.web_address }}" {% if link.target == '_blank' %}target=blank{% endif %} {% if link.target == '_modal' %}data-title="{{ widget.image.default_caption|default:'' }}" data-footer="{{ widget.image.description|default:'' }}" data-toggle="lightbox" rel="{{ widget.fe_identifier }}"{% endif %}>
    	{% include "widget/linkmenu/_icon.html" %}
	  </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
