{% extends widget.get_base_template %}

{% load thumbnail %}

{% block content %}
{% block items %}
{% for row in widget.get_rows %}
  <div class="row">
  {% for item in row %}
    <div class="col-md-{{ widget.columns_classes.0 }} col-xs-{{ widget.columns_classes.2 }} col-sm-{{ widget.columns_classes.1 }} thumb">
	  <a href="{{ link.web_address }}" {% if link.target == '_blank' %}target=blank{% endif %} {% if link.target == '_modal' %}data-title="{{ widget.image.default_caption|default:'' }}" data-footer="{{ widget.image.description|default:'' }}" data-toggle="lightbox" rel="{{ widget.fe_identifier }}"{% endif %}>
    	{% include "widget/linkmenu/_icon.html" %}
	  </a>
 	 </div>
  {% endfor %}
  </div>
{% endfor %}
{% endblock %}
